/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general rules */
.container-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* HEADER START */
header{
    min-height: 60px;
}

.logo,
.login{
    min-width: 20%;
}

.logo,
.login{
    min-width: 20%;
}

ul{
    width: 60%;
    list-style-type: none;
}

a{
    text-decoration: none;
}

.logo.container-flex{
    justify-content: flex-start;
}
ul.container-flex{
    justify-content: space-around;
    padding: 0 150px;
}

.login.container-flex{
    justify-content: flex-end;
}
/* HEADER END */

/* MAIN START */
/* SECTION 1 */
.section-1-background{
    background-color: blue;
}

.section-1{
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.section-1 > h1,
.section-1 > p{
    color: white;
    margin-bottom: 40px;
}

.section-1 > h1{
    font-size: 60px;
}

/* SECTION 2 */
.container-flex2{
    display: flex;
    align-items: center;
}











/* DEBUG */


/* HEADER START */
.debug header{
    padding: 15px;
    background-color: lightskyblue;
}

.debug header .logo {
    background-color: rgb(240, 226, 29);
    height: 30px;
    border: 1px dashed black;
}

.debug header ul {
    background-color: rgb(240, 226, 29);
    height: 30px;
    border: 1px dashed black;
}

.debug header .login {
    background-color: rgb(240, 226, 29);
    height: 30px;
    border: 1px dashed black;
}
/* HEADER END */

/* MAIN START */
/* SECTION 1 */
.debug .section-1-background{
    min-height: 400px;
}

.debug .section-1{
    background-color: plum;
    max-width: 40%;
    min-height: 340px;
    border: 1px dashed black;
}

/* SECTION 2 */
.debug .section-2-background{
    min-height: 400px;
    background-color: greenyellow;
}

.debug .section-2{
    background-color: cyan;
    min-width: 60%;
    min-height: 340px;
    border: 1px dashed black;
}
.debug aside{
    background-color: lightpink;
    min-width: 40%;
    min-height: 340px;
    border: 1px dashed black;
}

/* SECTION 2 FLIPPED */
.debug .section-2-flipped-background{
    min-height: 400px;
    background-color: gray;
}

.debug .section-2-flipped{
    background-color: cyan;
    min-width: 40%;
    min-height: 340px;
    border: 1px dashed black;
}
.debug .section-2-flipped-background aside{
    background-color: lightpink;
    min-width: 60%;
    min-height: 340px;
    border: 1px dashed black;
}